In [31]:
import os
import numpy as np
import pandas as pd
import re

In [32]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'Data', 'obf_autax', 'nutz', 'nutz_178_08_ps_201111.xlsx')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/Data/obf_autax/nutz/nutz_178_08_ps_201111.xlsx

In [33]:
bz_data = pd.read_excel(bz_path)

In [34]:
bz_data.head()

,Waldort,WE-Typ,S1,MA,FL,LH,NH,DR,BH,ZP,...,Text2,S3,MA3,fl3,DR3,BH3,ZP3,SG3,RU3,Text3
0,094B1,WO,1.0,ZV,0,0.0,0.0,3.0,1.0,1.0,...,"KH Verbot beachten! 0,5 ha dürfen nicht übersc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,094D1,WO,1.0,JF,"0,3",0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,094D2,WO,1.0,DE,"0,5",0.0,0.0,1.0,1.0,1.0,...,gemeinsam mit DE in D3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,094D3,WO,1.0,DF,NaN,0.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,094D4,WO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [36]:
bz_data.columns

Index(['Waldort', 'WE-Typ', 'S1', 'MA', 'FL', 'LH', 'NH', 'DR', 'BH', 'ZP',
       'SG', 'RU', 'Text', 'S2', 'MA2', 'fl2', 'DR2', 'BH2', 'ZP2', 'SG2',
       'RU2', 'Text2', 'S3', 'MA3', 'fl3', 'DR3', 'BH3', 'ZP3', 'SG3', 'RU3',
       'Text3'],
      dtype='object')

In [37]:
bz_data = bz_data[['Waldort', 'MA', 'FL', 'LH', 'NH', 'DR', 'BH', 'ZP', 'SG', 'RU', 'Text']]

In [38]:
bz_data.iloc[3,:]

Waldort                    094D3
MA                            DF
FL                           NaN
LH                             0
NH                             0
DR                             2
BH                             1
ZP                             1
SG                             2
RU                            23
Text       Schadholz Aufarbeiten
Name: 3, dtype: object

In [39]:
# check for dublicates
try:
    pd.concat(g for _, g in bz_data.groupby("Waldort") if len(g) > 1)
except:
    print("no dublicates")

no dublicates

In [40]:
df = bz_data.copy()

In [41]:
bz_data[bz_data.duplicated('Waldort')]

Empty DataFrame
Columns: [Waldort, MA, FL, LH, NH, DR, BH, ZP, SG, RU, Text]
Index: []

In [42]:
# set raw_path
#raw_path = os.path.join(home_path, 'Data', 'obf_autax', 'TO_1310_171_11_20201102_all.XLS')
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'raw_data', 'TO_1364_178_02_20201111.XLS')
# set raw_path
#raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'raw_data', 'TO_1366_181_08_20201111.XLS')

# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (36,102,103,108,112,113,114,124,126,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
wos = wo_data['Waldort'].unique()
wos

array(['025E1', '031A1', '019C1', ..., '133E1', '133E2', '133E4'],
      dtype=object)

In [44]:
len(wo_data[(wo_data['Waldort'] == '359I1') & (wo_data['Best.-Schicht.1'] != 0)])

0

In [45]:
wo_data.loc[wo_data['Best.-Schicht'] == 0, 'Bestockungsziel']

0       3FI 1AH 1BU 5LA
4           5FI 3LA 2BU
13      3FI 1AH 1BU 5LA
22          5FI 2BU 3LA
31      3FI 5LA 1BU 1AH
             ...
9141        6FI 2BU 2LA
9147            6FI 4LA
9154            6FI 4LA
9164            6FI 4AH
9182            6FI 4LA
Name: Bestockungsziel, Length: 1837, dtype: object

In [46]:
wo_data.loc[wo_data['Best.-Schicht'] == 0, 'Bestockungsziel'].str.count(' ') + 1

0       4.0
4       3.0
13      4.0
22      3.0
31      4.0
       ...
9141    3.0
9147    2.0
9154    2.0
9164    2.0
9182    2.0
Name: Bestockungsziel, Length: 1837, dtype: float64

In [47]:
# add bz_rows
wo_data['bz_rows'] = wo_data.loc[:,'Bestockungsziel'].str.count(' ') + 1

In [48]:
wo_data.loc[(wo_data['Waldort'] == '359I1') & (wo_data['Best.-Schicht'] == 0), 'bz_rows'].values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

## add number of BZ

In [49]:
wo_data.loc[(wo_data['Best.-Schicht'] == 0),['Waldort', 'bz_rows']]

     Waldort  bz_rows
0      025E1      4.0
4      031A1      3.0
13     019C1      4.0
22     025A1      3.0
31     048H1      4.0
...      ...      ...
9141   133G0      3.0
9147   133E3      2.0
9154   133E1      2.0
9164   133E2      2.0
9182   133E4      2.0

[1837 rows x 2 columns]

In [50]:
bz_rows = wo_data.loc[(wo_data['Best.-Schicht'] == 0),['Waldort','bz_rows']]

In [51]:
df = df.merge(bz_rows, on='Waldort')

In [52]:
df

,Waldort,MA,FL,LH,NH,DR,BH,ZP,SG,RU,Text,bz_rows
0,094B1,ZV,0,0.0,0.0,3.0,1.0,1.0,2.0,26.0,NaN,3.0
1,094D1,JF,"0,3",0.0,0.0,2.0,1.0,1.0,2.0,31.0,auf obere Straße zuschlägern,3.0
2,094D2,DE,"0,5",0.0,0.0,1.0,1.0,1.0,2.0,31.0,alternativ 26 mit JF in D1,3.0
3,094D3,DF,NaN,0.0,0.0,2.0,1.0,1.0,2.0,23.0,Schadholz Aufarbeiten,3.0
4,094D4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
677,426L1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
678,426L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
679,426L3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
680,426L4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
681,426M0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0

## add number of rows

In [53]:
wos = wo_data['Waldort'].unique()
df.set_index(['Waldort'], drop=False, inplace=True)

# add number of rows
for wo in wos:
    df.loc[wo, 'nr_rows'] = len(wo_data[(wo_data['Waldort'] == wo) & (wo_data['Best.-Schicht.1'] != 0)])

In [54]:
df.reset_index(drop=True, inplace=True)
df = df[['Waldort', 'bz_rows', 'nr_rows', 'MA', 'FL', 'LH', 'NH', 'DR', 'BH', 'ZP', 'SG', 'RU', 'Text']]

In [55]:
df

,Waldort,bz_rows,nr_rows,MA,FL,LH,NH,DR,BH,ZP,SG,RU,Text
0,094B1,3.0,3.0,ZV,0,0.0,0.0,3.0,1.0,1.0,2.0,26.0,NaN
1,094D1,3.0,6.0,JF,"0,3",0.0,0.0,2.0,1.0,1.0,2.0,31.0,auf obere Straße zuschlägern
2,094D2,3.0,6.0,DE,"0,5",0.0,0.0,1.0,1.0,1.0,2.0,31.0,alternativ 26 mit JF in D1
3,094D3,3.0,2.0,DF,NaN,0.0,0.0,2.0,1.0,1.0,2.0,23.0,Schadholz Aufarbeiten
4,094D4,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1833,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1834,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1836,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## add structure from raw data export

In [56]:
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

### pernitz (comment if not aplicable)
wo_data = wo_data[wo_data['Abteilung'] > 93]

# sort data
wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)

# check if NG are included
print(wo_data['WE-Typ'].unique())

['WO' 'NG']

In [57]:
# merge data -> add NG
merge_data = wo_data[['Waldort', 'WE-Typ']].merge(df, how='left', on='Waldort')

In [58]:
merge_data

,Waldort,WE-Typ,bz_rows,nr_rows,MA,FL,LH,NH,DR,BH,ZP,SG,RU,Text
0,094B1,WO,3.0,3.0,ZV,0,0.0,0.0,3.0,1.0,1.0,2.0,26.0,NaN
1,094D1,WO,3.0,6.0,JF,"0,3",0.0,0.0,2.0,1.0,1.0,2.0,31.0,auf obere Straße zuschlägern
2,094D2,WO,3.0,6.0,DE,"0,5",0.0,0.0,1.0,1.0,1.0,2.0,31.0,alternativ 26 mit JF in D1
3,094D3,WO,3.0,2.0,DF,NaN,0.0,0.0,2.0,1.0,1.0,2.0,23.0,Schadholz Aufarbeiten
4,094D4,WO,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,426L4,WO,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,426M0,WO,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,42631,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,42632,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,42641,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# format data
merge_data.fillna(0, inplace = True)
merge_data.iloc[:,2:4] = merge_data.iloc[:,2:4].astype(int)
merge_data.iloc[:,6:11] = merge_data.iloc[:,6:13].astype(int)

In [60]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autax', 'csv_for_autax', 'nutz_autax_1364_178_02_20201111.csv')
merge_data.to_csv(save_path, index=False)