In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
#home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
nutz_path = os.path.join(home_path, 'Data', 'obf_autax', 'haselbach', 'nutz_171_11_ps_200907x.xlsx')
ekl_path = os.path.join(home_path, 'Data', 'obf_autax', 'haselbach', 'ekl_TO1310_11.xlsx')


print(home_path)
print(nutz_path)
print(ekl_path)

/home/philipp
/home/philipp/Data/obf_autax/haselbach/nutz_171_11_ps_200907x.xlsx
/home/philipp/Data/obf_autax/haselbach/ekl_TO1310_11.xlsx

In [3]:
nutz_data = pd.read_excel(nutz_path)
ekl_data = pd.read_excel(ekl_path)

In [7]:
nutz_data.head()

,WO,S,MA,FL,LH,NH,SUM,DR,BH,ZP,SG,RU,Text,ABT,Unnamed: 14,Unnamed: 15
0,298C0,1,DF,0,60.0,0.0,60,2.0,1.0,3.0,1.0,31.0,"Anfang - Ende Dezennium, KIeinstock",298C2,NaN,NaN
1,289F1,1,LI,0,100.0,0.0,100,2.0,1.0,3.0,4.0,35.0,Mitte - Ende Dezennium,NaN,NaN,NaN
2,289H1,1,LI,0,80.0,0.0,80,2.0,1.0,3.0,1.0,31.0,Mitte - Ende Dezennium,NaN,NaN,NaN
3,298I0,1,LI,0,100.0,0.0,100,2.0,1.0,3.0,1.0,36.0,Mitte - Ende Dezennium,298I0,NaN,NaN
4,298K0,1,LI,0,50.0,0.0,50,2.0,1.0,3.0,1.0,31.0,Mitte - Ende Dezennium,NaN,NaN,NaN

In [6]:
ekl_data.head()

,Forstbetrieb.1,Teiloperats-ID.1,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,...,LA_ekl.1,KI_ekl.1,SK_ekl.1,Unnamed: 78,BU,FI,TA,LA,KI,SK
0,171,1310,11,298,A,0,WO,9010,140,NaN,...,7.582800,7.672105,7.295544,NaN,0.793506,0.690685,0.658325,0.920063,0.733004,0.723859
1,171,1310,11,298,B,1,WO,9010,140,NaN,...,5.937596,5.307158,5.595558,NaN,0.968473,0.867603,0.856425,1.090541,0.974325,0.858187
2,171,1310,11,298,B,2,WO,9010,140,NaN,...,7.123337,7.072292,5.416499,NaN,1.291440,0.972256,0.931850,1.289419,1.128225,0.950114
3,171,1310,11,298,C,0,WO,9010,140,NaN,...,7.276538,7.168263,6.036868,NaN,0.934029,0.783129,0.756952,1.031125,0.860739,0.791599
4,171,1310,11,298,F,1,WO,9010,140,NaN,...,3.983535,4.338099,5.536367,NaN,1.144945,1.134727,1.159593,1.434996,1.271049,1.111870

In [10]:
merge_data = pd.merge(ekl_data, nutz_data, how='outer', on='WO')

In [12]:
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'TO_1310_11_roh.XLS')
# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,102,103,108,112,113,114,124,126,144,145,146,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
wo_data.columns[:100]

Index(['Merkmalausprägung', 'AuswKatTyp', 'Teiloperats-ID', 'Forstbetrieb',
       'Debitor', 'TO-Bezeichnung', 'Status', 'Beg. Laufzeit', 'Ende Laufzeit',
       'Operat-ID', 'vorgeschl. Hiebssatz', 'Verantwortlicher',
       'Erfassungsstatus', 'Migriert?', 'GUID', 'Forstbetrieb.1',
       'Teiloperats-ID.1', 'Forstrevier', 'Abteilung', 'Unterabteil.',
       'Teilfl.', 'Debitor.1', 'Bearbeitungsblock', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA',
       'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Vegetationstyp',
       'Waldtyp', 'Wuchsgebiet', 'Überh. Laubholz', 'Überh. Nadelhz.',
       'fr. Schälschade', 'Verbissgrad', 'SchutzwaldProjNr', 'Schlussgrad',
       'Stabilität', 'VJ Bedingung', 'VJ Situation', 'Erreichbark. des BZ',
       'Selektiver Verbiss', 'Erfassungsstatus.1', 'Storno', 'Angelegt von',
       'Angelegt am', 'Uhrzeit', 'Geändert von', 'Geändert am', 'Uhrzeit.1',
       'Waldort', 'GUID.1', 'GUID.2', 'Forstbetrieb.2', 'Teiloperats-ID.2',
       'Forstrevier.1', 'Abteilung.1', 'Unterabteil..1', 'Teilfl..1',
       'Best.-Schicht', 'Debitor.2', 'Schichtanteil', 'Schichtalter',
       'S-Best.grad', 'Erfassungsstatus.2', 'Storno.1', 'GUID.3', 'GUID.4',
       'Forstbetrieb.3', 'Teiloperats-ID.3', 'Forstrevier.2', 'Abteilung.2',
       'Unterabteil..2', 'Teilfl..2', 'Best.-Schicht.1', 'Baumart',
       'Debitor.3', 'Baumartenanteil', 'BaumartenBestockgrad', 'Schälgrad',
       'Ertragsklasse', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort', 'GSOLL / HA', 'GIST / HA', 'lauf. Zuwachs / HA',
       'DGZU / HA', 'HDZ', 'LGZ'],
      dtype='object')

In [ ]:
wo_data

In [18]:
wo_data = wo_data[['Abteilung', 'Unterabteil.','Teilfl.', 'WE-Typ', 'Fläche in HA']]

In [20]:
wo_data['WO'] = wo_data['Abteilung'].astype(str) + wo_data['Unterabteil.'] + wo_data['Teilfl.'].astype(str)

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
wo_data

      Abteilung Unterabteil.  Teilfl. WE-Typ  Fläche in HA      WO
0           178            4       11     NG          0.03  178411
1           178            4       10     NG          0.07  178410
2           179            4       10     NG          0.19  179410
3           179            4       11     NG          0.45  179411
4           182            4       10     NG          0.19  182410
...         ...          ...      ...    ...           ...     ...
8184        371            L        0     WO          1.55   371L0
8193        378            F        3     WO          0.55   378F3
8197        378            F        2     WO          0.88   378F2
8200        378            F        1     WO          2.06   378F1
8205        378            D        0     WO          0.46   378D0

[1561 rows x 6 columns]

In [22]:
merge_data = pd.merge(merge_data, wo_data, how='outer', on='WO')

In [23]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autax', 'haselbach', 'nutz_1310_171_11_20201105.csv')
merge_data.to_csv(save_path, index=False)