In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/wtyp')-1]
# set bz_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'raw_data', 'TO_1310_171_10_20201203.XLS')
# set save_path
data_path = os.path.join(home_path, 'Data', 'obf_autman', 'wtyp')

fr = 10

print(fr)
print(home_path)
print(raw_path)

10
/home/philipp
/home/philipp/Data/obf_autman/raw_data/TO_1310_171_10_20201203.XLS

In [3]:
wtyp_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

b'Skipping line 1390: expected 152 fields, saw 153\n'
/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,147,148,149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
wtyp_data.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,ST 2 Teile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
# filter Bearbeitungsblock
#bbl = 3
#wtyp_data = wtyp_data[wtyp_data['Bearbeitungsblock'] == bbl]

In [6]:
wtyp = wtyp_data.loc[:,['Waldort', 'Abteilung','Unterabteil.', 'Teilfl.','WE-Typ', 'Umtriebszeit',
                        'Ertragssituation', 'Bewirtschaftungsform','Best.-Schicht', 'Schichtanteil', 
                        'Schichtalter', 'S-Best.grad', 'Baumart', 'Baumartenanteil', 'BaumartenBestockgrad']]

In [7]:
wtyp = wtyp_data.copy()

In [8]:
wtyp_f = wtyp[wtyp['WE-Typ'] == 'WO']

In [9]:
wos = wtyp_f['Waldort'].unique()

In [10]:
wos[0]

'136A5'

In [11]:
wtyp_f[wtyp_f['Waldort'] == wos[0]]

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,ST 2 Teile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [12]:
# get unique ba
bas = wtyp_f['Baumart'].unique()
bas = bas[1:]
bas

array(['KB', 'TA', 'BU', 'EL', 'EI', 'KI', 'LA', 'ES', 'SL', 'AH', 'HB',
       'FI', 'ER', 'EZ', 'SK', 'DG', 'WO', 'RE', 'UL', 'AS', 'LI', 'BI',
       'WD', 'BL', 'ME', 'SN', 'EB', 'SG'], dtype=object)

In [13]:
# get unique bs
bss = wtyp_f['Best.-Schicht'].unique()
bss = bss[1:]
bss

array([1, 2, 3])

In [14]:
len(wtyp_f)

8019

In [15]:
%%time
### this one is the last version ###

allx = wtyp_f[wtyp_f['Waldort'] == wos[1]].iloc[:1]
l = 0

for wo in wos:
    
    if (l == len(wtyp_f)/10) | (l == len(wtyp_f)/20) | (l == len(wtyp_f)/30) | (l == len(wtyp_f)/40) | (l == len(wtyp_f)/50) | (l == len(wtyp_f)/60) | (l == len(wtyp_f)/70) | (l == len(wtyp_f)/80) | (l == len(wtyp_f)/90) | (l == 10000):
        print(l/100)
    
    temp1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = tempx1[tempx1['Best.-Schicht'] == 0]
    
    for ba in bas:
        if np.any(temp1['Baumart'] == ba):
            tempx1['ekl_' + ba] = temp1[temp1['Baumart'] == ba]['Ertragsklasse'].values[0]
        else:
            tempx1['ekl_' + ba] = 0
    
    for bs in bss:

        if np.any(temp1['Best.-Schicht.1'] == bs):
            t = temp1[temp1['Best.-Schicht.1'] == bs]
            tempx1[str(int(bs)) + '_alter'] = t['Schichtalter'].values[0]

            for ba in bas:

                if np.any(t['Baumart'] == ba):
                    tempx1[str(int(bs)) + '_' + ba] = t[t['Baumart'] == ba]['BaumartenBestockgrad'].values[0]
                else:
                    tempx1[str(int(bs)) + '_' + ba] = 0    
        else:
            tempx1[str(int(bs)) + '_alter'] = 0

            for ba in bas:
                tempx1[str(int(bs)) + '_' + ba] = 0

    if np.any(temp1[temp1['Nutzungsnummer'] != 0]):
        
        temp3 = temp1[temp1['Nutzungsnummer'] != 0]
        temp3
        
        tempx1['Maßnahmenart'] = temp3['Maßnahmenart'].values[0]
        tempx1['Nutzdringlichkeit'] = temp3['Nutzdringlichkeit'].values[0]
        
    #allx.append(tempx1)
    allx = pd.concat([allx, tempx1], sort=False)
    l = l + 1

# drop 1st row
#allx.drop(0, axis=0, inplace=True)
print('end')

end
CPU times: user 2min 21s, sys: 1.15 s, total: 2min 22s
Wall time: 2min 23s

In [16]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,3_UL,3_AS,3_LI,3_BI,3_WD,3_BL,3_ME,3_SN,3_EB,3_SG
7,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8271,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8277,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8281,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8288,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8299,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
#wos = allx['Waldort'].unique()

In [20]:
temp1

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
8299,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"7ST im Unterhang Standortseinheit ""27"", verf...","BE LA hauptsächlich an ""D"", im Norden zwisch...",orst,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8300,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8301,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8302,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8303,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8304,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8305,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [21]:
home_path

'/home/philipp'

In [22]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ba', '171_'+str(fr)+'_ba.csv')
allx.to_csv(data_path, index=False)

In [23]:
for ba in bas:
    allx[ba] = allx['1_'+ba] + allx['2_'+ba] + allx['3_'+ba]# + allx['4_'+ba]

In [24]:
allx['sum'] = allx[bas].sum(axis=1)

In [25]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,AS,LI,BI,WD,BL,ME,SN,EB,SG,sum
7,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
14,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.4
24,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8271,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8277,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8281,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7
8288,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
8299,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
allx = allx[1:]

In [27]:
wos[0]

'136A2'

In [28]:
for ba in bas:
    allx[ba] = allx[ba]/allx['sum']

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,AS,LI,BI,WD,BL,ME,SN,EB,SG,sum
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
14,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.4
24,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
32,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8271,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8277,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8281,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7
8288,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
8299,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [30]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ba', '171_'+str(fr)+'_ba.csv')
allx.to_csv(data_path, index=False)

In [31]:
allx.set_index('Waldort',drop=False, inplace=True)

In [32]:
for wo in wos:
    if allx.loc[wo, 'BU'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'BU'
    elif allx.loc[wo, 'DG'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'DG'
    elif (allx.loc[wo, 'EI'] >= 0.8): # + allx.loc[wo, 'RE'] 
        allx.loc[wo, 'wtyp'] = 'EI'
    elif allx.loc[wo, 'KI'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'WK'
    elif allx.loc[wo, 'SK'] >= 0.4:
        allx.loc[wo, 'wtyp'] = 'SK'
    elif (allx.loc[wo, 'FI'] >= 0.8) & (allx.loc[wo, 'LA'] == 0):
        allx.loc[wo, 'wtyp'] = 'FI'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'LA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'LA'] >= 10):
        allx.loc['wtyp'] = 'FILA'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'TA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'TA'] >= 10):
        allx.loc[wo, 'wtyp'] = 'FITA'
    elif allx.loc[wo, 'AH'] + allx.loc[wo, 'ES'] >= 0.8: #allx.loc[wo, 'ER'] + 
        allx.loc[wo, 'wtyp'] = 'AU'
    else:
        allx.loc[wo, 'wtyp'] = 'LNK'

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [33]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,LI,BI,WD,BL,ME,SN,EB,SG,sum,wtyp
Waldort,,,,,,,,,,,,,,,,,,,,,
136A5,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU
136A2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNK
136A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.4,LNK
136A4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNK
137A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9,BU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK
166A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU
999A6,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,LNK
999A5,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8,LNK
204A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK

In [34]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ba', '171_'+str(fr)+'_ba.csv')
allx.to_csv(data_path, index=False)

In [35]:
allx['SK_%'] = allx['SK']/allx['sum']

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
# umtriebszeit

In [37]:
for wo in wos:
    if (allx.loc[wo, 'Bewirtschaftungsform'] == 'S') & (allx.loc[wo, 'Ertragssituation'] == 'A'):
        allx.loc[wo, 'uz'] = 200
    elif (allx.loc[wo, 'Bewirtschaftungsform'] == 'S') & (allx.loc[wo, 'Ertragssituation'] == 'I'):
        allx.loc[wo, 'uz'] = 160
    elif allx.loc[wo, 'SK_%'] >= 0.38:
        allx.loc[wo, 'uz'] = 160
    elif allx.loc[wo, 'ekl_BU'] >= 7:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_BU'] > 0:
        allx.loc[wo, 'uz'] = 140
    elif allx.loc[wo, 'ekl_DG'] >= 9:
        allx.loc[wo, 'uz'] = 100
    elif allx.loc[wo, 'ekl_DG'] > 0:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] >= 8:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] > 0:
        allx.loc[wo, 'uz'] = 140
    elif allx.loc[wo, 'ekl_FI'] >= 8:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_FI'] > 0:
        allx.loc[wo, 'uz'] = 140
    else:
        allx.loc[wo, 'uz'] = 140

In [38]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp', '171_'+str(fr)+'_wtyp.csv')
allx.to_csv(data_path, index=False)

In [39]:
## create structure for SAP

In [40]:
# filter data
wo_data = wtyp_data[wtyp_data['Best.-Schicht']==0]

In [41]:
# check if filtered data is valid
wo_data['Fläche in HA']

0        3.37
7        5.76
14      19.88
24       3.37
32      10.57
        ...
8271     1.44
8277     1.24
8281     0.18
8288     0.86
8299     3.29
Name: Fläche in HA, Length: 1596, dtype: float64

In [42]:
# sort in right order
wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True], inplace=True)

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
wo_data['Waldort']

7417    019A0
2568    019B1
7343    019B2
2607    019C1
7432    019C2
        ...
6927    33331
8233    999A2
8220    999A4
8288    999A5
8281    999A6
Name: Waldort, Length: 1596, dtype: object

In [44]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,WD,BL,ME,SN,EB,SG,sum,wtyp,SK_%,uz
Waldort,,,,,,,,,,,,,,,,,,,,,
136A5,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU,0.0,120.0
136A2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNK,0.0,120.0
136A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.4,LNK,0.0,120.0
136A4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNK,0.0,120.0
137A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.9,BU,0.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK,0.3,140.0
166A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU,0.0,140.0
999A6,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.7,LNK,0.0,120.0
999A5,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.8,LNK,0.0,120.0
204A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK,0.0,140.0

In [45]:
temp = allx[['Waldort', 'wtyp', 'uz']].copy()
temp.reset_index(drop=True, inplace=True)

In [46]:
# merge data
data = pd.merge(wo_data[['Waldort']], temp, how='left', on='Waldort',
         sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [47]:
data.iloc[:20]

   Waldort wtyp     uz
0    019A0  LNK  120.0
1    019B1  LNK  120.0
2    019B2  LNK  140.0
3    019C1   BU  140.0
4    019C2  LNK  120.0
5    019D1   FI  120.0
6    019D2  LNK  120.0
7    019D3  LNK  120.0
8    01931  NaN    NaN
9    020A1   DG  100.0
10   020A2  LNK  120.0
11   020B1  LNK  120.0
12   020B2  LNK  100.0
13   020B3  LNK  140.0
14   020C0  LNK  120.0
15   02051  NaN    NaN
16   02052  NaN    NaN
17   021A1  LNK  140.0
18   021A2  LNK  120.0
19   021A3  LNK  120.0

In [48]:
# write data to file
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp', '171_'+str(fr)+'_wtyp_uz.csv')
data.to_csv(data_path, index=False)

In [107]:
data_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'FR171_10_20201203.xlsx')
add_data = pd.read_excel(data_path)
add_data = add_data[['Waldort', 'Vegetationstyp']]

In [108]:
temp = allx[['Waldort', 'wtyp', 'uz', 'Abteilung', 'Unterabteil.', 'Teilfl.']].copy()
temp.reset_index(drop=True, inplace=True)

In [109]:
# merge data
data = pd.merge(wo_data[['Waldort']], temp, how='left', on='Waldort',
         sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [110]:
x = data[['Abteilung', 'Unterabteil.', 'Teilfl.']].fillna(0)

In [111]:
x['Abteilung'] = x['Abteilung'].astype(int)
x['Teilfl.'] = x['Teilfl.'].astype(int)

In [112]:
x['Abteilung'].astype(str)

0        19
1        19
2        19
3        19
4        19
       ...
1591      0
1592    999
1593    999
1594    999
1595    999
Name: Abteilung, Length: 1596, dtype: object

In [113]:
x

      Abteilung Unterabteil.  Teilfl.
0            19            A        0
1            19            B        1
2            19            B        2
3            19            C        1
4            19            C        2
...         ...          ...      ...
1591          0            0        0
1592        999            A        2
1593        999            A        4
1594        999            A        5
1595        999            A        6

[1596 rows x 3 columns]

In [114]:
x['WO'] = x['Abteilung'].astype(str) + x['Unterabteil.'].astype(str) + x['Teilfl.'].astype(str)

In [115]:
data['WO'] = data['Waldort']

In [116]:
data['Waldort'] = x['WO']

In [117]:
data

     Waldort wtyp     uz  Abteilung Unterabteil.  Teilfl.     WO
0       19A0  LNK  120.0       19.0            A      0.0  019A0
1       19B1  LNK  120.0       19.0            B      1.0  019B1
2       19B2  LNK  140.0       19.0            B      2.0  019B2
3       19C1   BU  140.0       19.0            C      1.0  019C1
4       19C2  LNK  120.0       19.0            C      2.0  019C2
...      ...  ...    ...        ...          ...      ...    ...
1591     000  NaN    NaN        NaN          NaN      NaN  33331
1592   999A2  LNK  140.0      999.0            A      2.0  999A2
1593   999A4  LNK  120.0      999.0            A      4.0  999A4
1594   999A5  LNK  120.0      999.0            A      5.0  999A5
1595   999A6  LNK  120.0      999.0            A      6.0  999A6

[1596 rows x 7 columns]

In [118]:
add_data

     Waldort Vegetationstyp
0       19A1             BW
1       19A2             BW
2       19B1             BW
3       19B2             BW
4       19C1             WW
...      ...            ...
1281   333D0              B
1282   333E1             BW
1283   333E2             WS
1284   333E3             BW
1285   333E4             BW

[1286 rows x 2 columns]

In [119]:
data = data.merge(add_data, how='left', on='Waldort')

In [120]:
data

,Waldort,wtyp,uz,Abteilung,Unterabteil.,Teilfl.,WO,Vegetationstyp
0,19A0,LNK,120.0,19.0,A,0.0,019A0,NaN
1,19B1,LNK,120.0,19.0,B,1.0,019B1,BW
2,19B2,LNK,140.0,19.0,B,2.0,019B2,BW
3,19C1,BU,140.0,19.0,C,1.0,019C1,WW
4,19C2,LNK,120.0,19.0,C,2.0,019C2,BW
...,...,...,...,...,...,...,...,...
1591,000,NaN,NaN,NaN,NaN,NaN,33331,NaN
1592,999A2,LNK,140.0,999.0,A,2.0,999A2,NaN
1593,999A4,LNK,120.0,999.0,A,4.0,999A4,NaN
1594,999A5,LNK,120.0,999.0,A,5.0,999A5,NaN
1595,999A6,LNK,120.0,999.0,A,6.0,999A6,NaN

In [121]:
# write data to file
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp', '171_'+str(fr)+'_wtyp_uz_vtyp.csv')
data.to_csv(data_path, index=False)

In [ ]:
#### extra #####

In [42]:
wos.shape

(827,)

In [43]:
for wo in wos:
    allx.loc[wo, 'nr_rows'] =len(wtyp_data[(wtyp_data['Waldort'] == wo) & (wtyp_data['Best.-Schicht.1'] != 0)])

In [44]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,GE,AS,BI,NU,EI,sum,wtyp,SK_%,uz,nr_rows
Waldort,,,,,,,,,,,,,,,,,,,,,
207A3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.9,LNF,0.000000,140.0,3.0
207A2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.2,BU,0.000000,140.0,1.0
207A4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.0,BU,0.000000,140.0,3.0
204H0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.1,LNF,0.181818,140.0,4.0
203C0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.9,LNF,0.000000,140.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.0,LNF,0.090000,140.0,6.0
205B1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.9,LNF,0.518519,160.0,8.0
205B2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.0,LNF,0.100000,140.0,3.0
206A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.1,LNF,0.000000,120.0,5.0
205A3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.2,LNF,0.000000,140.0,3.0

In [45]:
wtyp_data['Waldort']

0        207A3
1        207A3
2        207A3
3        207A3
4        207A3
         ...
10953    29541
10954    29651
10955    29631
10956    29641
10957    29632
Name: Waldort, Length: 5746, dtype: object

In [46]:
allx = allx[['uz', 'wtyp', 'nr_rows']]
allx = allx.reset_index()

In [47]:
wo_data = wtyp_data[wtyp_data['Best.-Schicht'] == 0]

In [48]:
# merge

wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

allx = allx[['Waldort', 'uz', 'wtyp', 'nr_rows']]

merge_data = pd.merge(wo_data, allx, how='left', on='Waldort')

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
merge_data.to_csv(data_path + "/test171_12_v6.csv", index=False)

In [ ]:
# finished

In [59]:
merge_data

     Waldort WE-Typ     uz wtyp
0      201A0     WO  140.0  LNF
1      201B1     WO  140.0  LNF
2      201B2     WO  140.0  LNF
3      201B3     WO  140.0  LNF
4      201B4     WO  140.0  LNF
...      ...    ...    ...  ...
1019   307O3     WO  140.0   WK
1020   307O4     WO  140.0   SK
1021   307P1     WO  140.0  LNF
1022   307P2     WO  140.0  LNF
1023   30751     NG    NaN  NaN

[1024 rows x 4 columns]

In [58]:
allx

      Waldort     uz wtyp
0       207A3  140.0  LNF
1       207A2  140.0   BU
2       207A4  140.0   BU
3       204H0  140.0  LNF
4       203C0  140.0  LNF
...       ...    ...  ...
205A1     NaN    NaN  NaN
205B1     NaN    NaN  NaN
205B2     NaN    NaN  NaN
206A1     NaN    NaN  NaN
205A3     NaN    NaN  NaN

[1654 rows x 3 columns]

In [64]:
wtyp_data[wtyp_data['Best.-Schicht.1'] != 0]

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10754,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10755,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10771,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10772,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10773,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [46]:
# number of rows in WO

In [47]:
wtyp_data.head(3)

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE an Straße teilweise 5 J jünger, einige Zw...","einige Lücken, einige LA, BU fast ausschließl...",NaN,NaN,NaN,NaN,NaN,NaN,1FI 6BU 2AH 1TA,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [65]:
%time
len(wtyp_data[(wtyp_data['Waldort'] == '207A3') & (wtyp_data['Best.-Schicht.1'] != 0)])

CPU times: user 8 µs, sys: 0 ns, total: 8 µs
Wall time: 15 µs

3

In [49]:
%time
wtyp_data[(wtyp_data['Waldort'] == '659B1') & (wtyp_data['Best.-Schicht.1'] != 0)].shape

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs

(0, 152)

In [66]:
for wo in wos:
    merge_data.loc[wo, 'nr_rows'] =len(wtyp_data[(wtyp_data['Waldort'] == wo) & (wtyp_data['Best.-Schicht.1'] != 0)])

In [51]:
allx.to_csv(data_path + "/test171_01_v7.csv", index=False)