In [1]:
import os
import numpy as np
import pandas as pd

In [34]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/wtyp')-1]
# set bz_path
raw_path = os.path.join(home_path, 'Data', 'obf_autax', 'TO_1310_171_12_20200817.XLS')
# set save_path
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp')

print(home_path)
print(raw_path)

/home/philipp
/home/philipp/Data/obf_autax/TO_1310_171_12_20200817.XLS

In [3]:
wtyp_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,102,103,108,112,113,114,124,126,149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
wtyp_data.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"ST STOE 81/72, breiter tls steiniger Rücken i...",unter Str,BE mehr BU im N sowie an B1 - dort weniger SS...,Windschutz für B1,MA keinesfalls DF od dgl da labil und windexpo...,Maßnahmen auf B1 abstimmen,NaN,NaN,7FI 3LA,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE im N etw älter mit kaum LH, im SO etw jüng...","LÄ, alte SS",NaN,NaN,NaN,NaN,NaN,NaN,8FI 2LA,0.0

In [18]:
# filter Bearbeitungsblock
bbl = 7
wtyp_data = wtyp_data[wtyp_data['Bearbeitungsblock'] == bbl]

In [19]:
wtyp = wtyp_data.loc[:,['Waldort', 'Abteilung','Unterabteil.', 'Teilfl.','WE-Typ', 'Umtriebszeit',
                        'Ertragssituation', 'Bewirtschaftungsform','Best.-Schicht', 'Schichtanteil', 
                        'Schichtalter', 'S-Best.grad', 'Baumart', 'Baumartenanteil', 'BaumartenBestockgrad']]

In [20]:
wtyp = wtyp_data.copy()

In [21]:
wtyp_f = wtyp[wtyp['WE-Typ'] == 'WO']

In [22]:
wos = wtyp_f['Waldort'].unique()

In [23]:
wos[0]

'212D2'

In [24]:
wtyp_f[wtyp_f['Waldort'] == wos[0]]

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
314,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5FI 5LA,0.0
315,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
316,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
317,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
318,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [25]:
# get unique ba
bas = wtyp_f['Baumart'].unique()
bas = bas[1:]
bas

array(['KI', 'LA', 'EE', 'FI', 'BL', 'SK', 'ME', 'BU', 'AH', 'TA', 'SL',
       'ES', 'KB', 'NU', 'UL', 'EL', 'EI', 'LI', 'HB', 'AS', 'FA', 'PO',
       'GE'], dtype=object)

In [26]:
# get unique bs
bss = wtyp_f['Best.-Schicht'].unique()
bss = bss[1:]
bss

array([1, 2, 3, 4])

In [27]:
len(wtyp_f)

5327

In [28]:
%%time
### this one is the last version ###

allx = wtyp_f[wtyp_f['Waldort'] == wos[1]].iloc[:1]
l = 0

for wo in wos:
    
    if (l == len(wtyp_f)/10) | (l == len(wtyp_f)/20) | (l == len(wtyp_f)/30) | (l == len(wtyp_f)/40) | (l == len(wtyp_f)/50) | (l == len(wtyp_f)/60) | (l == len(wtyp_f)/70) | (l == len(wtyp_f)/80) | (l == len(wtyp_f)/90) | (l == 10000):
        print(l/100)
    
    temp1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = tempx1[tempx1['Best.-Schicht'] == 0]
    
    for ba in bas:
        if np.any(temp1['Baumart'] == ba):
            tempx1['ekl_' + ba] = temp1[temp1['Baumart'] == ba]['Ertragsklasse'].values[0]
        else:
            tempx1['ekl_' + ba] = 0
    
    for bs in bss:

        if np.any(temp1['Best.-Schicht.1'] == bs):
            t = temp1[temp1['Best.-Schicht.1'] == bs]
            tempx1[str(int(bs)) + '_alter'] = t['Schichtalter'].values[0]

            for ba in bas:

                if np.any(t['Baumart'] == ba):
                    tempx1[str(int(bs)) + '_' + ba] = t[t['Baumart'] == ba]['BaumartenBestockgrad'].values[0]
                else:
                    tempx1[str(int(bs)) + '_' + ba] = 0    
        else:
            tempx1[str(int(bs)) + '_alter'] = 0

            for ba in bas:
                tempx1[str(int(bs)) + '_' + ba] = 0

    if np.any(temp1[temp1['Nutzungsnummer'] != 0]):
        
        temp3 = temp1[temp1['Nutzungsnummer'] != 0]
        temp3
        
        tempx1['Maßnahmenart'] = temp3['Maßnahmenart'].values[0]
        tempx1['Nutzdringlichkeit'] = temp3['Nutzdringlichkeit'].values[0]
        
    #allx.append(tempx1)
    allx = pd.concat([allx, tempx1], sort=False)
    l = l + 1

# drop 1st row
#allx.drop(0, axis=0, inplace=True)
print('end')

end
CPU times: user 1min 33s, sys: 5.14 ms, total: 1min 33s
Wall time: 1min 33s

In [29]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,4_NU,4_UL,4_EL,4_EI,4_LI,4_HB,4_AS,4_FA,4_PO,4_GE
384,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
384,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
414,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
426,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10656,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10661,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10665,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10684,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
temp1

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
10684,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE Ungleichaltrig, einige Vorwüchse, einige ...","ES BU Aufschlag, einzelne ES, Sträucher, FI im...","eichtvergrast, leicht verkrautet,",NaN,NaN,NaN,NaN,NaN,2FI 2BU 6SK,0.0
10685,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10686,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10687,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10688,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10689,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10690,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [33]:
home_path

'/home/philipp'

In [35]:
allx.to_csv(data_path + "/171_12_wtyp_test.csv", index=False)

In [36]:
for ba in bas:
    allx[ba] = allx['1_'+ba] + allx['2_'+ba] + allx['3_'+ba]

In [37]:
allx['sum'] = allx[bas].sum(axis=1)

In [38]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,UL,EL,EI,LI,HB,AS,FA,PO,GE,sum
384,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
314,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
384,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
414,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
426,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10656,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10661,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10665,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
10680,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
10684,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [39]:
allx = allx[1:]

In [40]:
wos[0]

'212D2'

In [41]:
for ba in bas:
    allx[ba] = allx[ba]/allx['sum']

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,UL,EL,EI,LI,HB,AS,FA,PO,GE,sum
314,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
384,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
414,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
426,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
430,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10656,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10661,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10665,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
10680,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
10684,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [43]:
allx.to_csv(data_path + "/test171_12_v3.csv", index=False)

In [44]:
allx.set_index('Waldort',drop=False, inplace=True)

In [48]:
for wo in wos:
    if allx.loc[wo, 'BU'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'BU'
    #elif allx.loc[wo, 'DG'] >= 0.8:
    #    allx.loc[wo, 'wtyp'] = 'DG'
    elif (allx.loc[wo, 'EI'] >= 0.8): # + allx.loc[wo, 'RE'] 
        allx.loc[wo, 'wtyp'] = 'EI'
    elif allx.loc[wo, 'KI'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'WK'
    elif allx.loc[wo, 'SK'] >= 0.6:
        allx.loc[wo, 'wtyp'] = 'SK'
    elif (allx.loc[wo, 'FI'] >= 0.8) & (allx.loc[wo, 'LA'] == 0):
        allx.loc[wo, 'wtyp'] = 'FI'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'LA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'LA'] >= 10):
        allx.loc['wtyp'] = 'FILA'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'TA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'TA'] >= 10):
        allx.loc[wo, 'wtyp'] = 'FITA'
    elif allx.loc[wo, 'AH'] + allx.loc[wo, 'ES'] >= 0.8: #allx.loc[wo, 'ER'] + 
        allx.loc[wo, 'wtyp'] = 'AU'
    else:
        allx.loc[wo, 'wtyp'] = 'LNF'

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [60]:
allx

        Waldort     uz wtyp
Waldort
212D2     212D2  140.0  LNF
217F2     217F2  140.0  LNF
201I2     201I2  120.0  LNF
201B4     201B4  120.0  LNF
201B1     201B1  140.0  LNF
...         ...    ...  ...
210B4     210B4  140.0  LNF
210F3     210F3  140.0  LNF
210G1     210G1  140.0  LNF
210G5     210G5  140.0  LNF
286A1     286A1  140.0   SK

[863 rows x 3 columns]

In [50]:
allx.to_csv(data_path + "/test171_01_v4.csv", index=False)

In [51]:
# umtriebszeit

In [54]:
for wo in wos:
    if allx.loc[wo, 'ekl_BU'] >= 7:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_BU'] > 0:
        allx.loc[wo, 'uz'] = 140
    #elif allx.loc[wo, 'ekl_DG'] >= 9:
    #    allx.loc[wo, 'uz'] = 100
    #elif allx.loc[wo, 'ekl_DG'] > 0:
    #    allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] >= 8:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] > 0:
        allx.loc[wo, 'uz'] = 140
    elif allx.loc[wo, 'ekl_FI'] >= 9:
        allx.loc[wo, 'uz'] = 100
    elif allx.loc[wo, 'ekl_FI'] > 0:
        allx.loc[wo, 'uz'] = 120
    else:
        allx.loc[wo, 'uz'] = 120

In [55]:
allx.to_csv(data_path + "/test171_01_v5.csv", index=False)

In [57]:
wtyp_data['Waldort']

297      20382
298      20381
299      20351
300      20332
301      20331
         ...
10686    286A1
10687    286A1
10688    286A1
10689    286A1
10690    286A1
Name: Waldort, Length: 5479, dtype: object

In [61]:
wo_data

     Waldort WE-Typ
9242   201A0     WO
9243   201A0     WO
9244   201A0     WO
9245   201A0     WO
9246   201A0     WO
...      ...    ...
5596   307P2     WO
5597   307P2     WO
5598   307P2     WO
3264   30741     NG
3237   30751     NG

[5479 rows x 2 columns]

In [66]:
allx = allx[['uz', 'wtyp']]
allx = allx.reset_index()

In [73]:
wo_data = wtyp_data[wtyp_data['Best.-Schicht'] == 0]

In [74]:
# merge

wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

allx = allx[['Waldort', 'uz', 'wtyp']]

merge_data = pd.merge(wo_data, allx, how='left', on='Waldort')

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
merge_data.to_csv(data_path + "/test171_12_v6.csv", index=False)

In [33]:
# number of rows in WO

In [34]:
wtyp_data.head(3)

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,"BE Örtl lückig; ein HB, AH; BU oft protzig; u...",rast und leicht verkrautet,MA BZ: 6LA 4BU,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [35]:
%time
len(wtyp_data[(wtyp_data['Waldort'] == '659B1') & (wtyp_data['Best.-Schicht.1'] != 0)])

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.58 µs

4

In [36]:
%time
wtyp_data[(wtyp_data['Waldort'] == '659B1') & (wtyp_data['Best.-Schicht.1'] != 0)].shape

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.81 µs

(4, 152)

In [37]:
for wo in wos:
    allx.loc[wo, 'nr_rows'] =len(wtyp_data[(wtyp_data['Waldort'] == wo) & (wtyp_data['Best.-Schicht.1'] != 0)])

In [38]:
allx.to_csv(data_path + "/test171_01_v6.csv", index=False)