In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/wtyp')-1]
# set bz_path
raw_path = os.path.join(home_path, 'Data', 'obf_autax', 'TO_1310_171_12_20201110_all.XLS')
# set save_path
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp')

fr = 12

print(fr)
print(home_path)
print(raw_path)

/home/philipp
/home/philipp/Data/obf_autax/TO_1310_171_12_20201110_all.XLS

In [4]:
wtyp_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (36,40,102,103,108,112,113,114,124,126,149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
wtyp_data.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"ST STOE 81/72, breiter tls steiniger Rücken i...",unter Str,BE mehr BU im N sowie an B1 - dort weniger SS...,Windschutz für B1,MA keinesfalls DF od dgl da labil und windexpo...,Maßnahmen auf B1 abstimmen,NaN,NaN,7FI 3LA,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE im N etw älter mit kaum LH, im SO etw jüng...","LÄ, alte SS",NaN,NaN,NaN,NaN,NaN,NaN,8FI 2LA,0.0

In [6]:
# filter Bearbeitungsblock
#bbl = 3
#wtyp_data = wtyp_data[wtyp_data['Bearbeitungsblock'] == bbl]

In [7]:
wtyp = wtyp_data.loc[:,['Waldort', 'Abteilung','Unterabteil.', 'Teilfl.','WE-Typ', 'Umtriebszeit',
                        'Ertragssituation', 'Bewirtschaftungsform','Best.-Schicht', 'Schichtanteil', 
                        'Schichtalter', 'S-Best.grad', 'Baumart', 'Baumartenanteil', 'BaumartenBestockgrad']]

In [8]:
wtyp = wtyp_data.copy()

In [9]:
wtyp_f = wtyp[wtyp['WE-Typ'] == 'WO']

In [10]:
wos = wtyp_f['Waldort'].unique()

In [11]:
wos[0]

'021A1'

In [12]:
wtyp_f[wtyp_f['Waldort'] == wos[0]]

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"ST STOE 81/72, breiter tls steiniger Rücken i...",unter Str,BE mehr BU im N sowie an B1 - dort weniger SS...,Windschutz für B1,MA keinesfalls DF od dgl da labil und windexpo...,Maßnahmen auf B1 abstimmen,NaN,NaN,7FI 3LA,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [13]:
# get unique ba
bas = wtyp_f['Baumart'].unique()
bas = bas[1:]
bas

array(['FI', 'BU', 'TA', 'KI', 'LA', 'SL', 'EI', 'LI', 'EK', 'BL', 'AH',
       'BI', 'ES', 'SK', 'ER', 'HB', 'DG', 'AS', 'GB', 'EE', 'KW', 'KB',
       'GE', 'EB', 'QP', 'ST', 'ME', 'NU', 'UL', 'WD', 'QR', 'RO', 'HP',
       'WP', 'SA', 'SP', 'WO', 'EL', 'AG', 'FA'], dtype=object)

In [14]:
# get unique bs
bss = wtyp_f['Best.-Schicht'].unique()
bss = bss[1:]
bss

array([1, 2, 3])

In [15]:
len(wtyp_f)

5032

In [16]:
%%time
### this one is the last version ###

allx = wtyp_f[wtyp_f['Waldort'] == wos[1]].iloc[:1]
l = 0

for wo in wos:
    
    if (l == len(wtyp_f)/10) | (l == len(wtyp_f)/20) | (l == len(wtyp_f)/30) | (l == len(wtyp_f)/40) | (l == len(wtyp_f)/50) | (l == len(wtyp_f)/60) | (l == len(wtyp_f)/70) | (l == len(wtyp_f)/80) | (l == len(wtyp_f)/90) | (l == 10000):
        print(l/100)
    
    temp1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = tempx1[tempx1['Best.-Schicht'] == 0]
    
    for ba in bas:
        if np.any(temp1['Baumart'] == ba):
            tempx1['ekl_' + ba] = temp1[temp1['Baumart'] == ba]['Ertragsklasse'].values[0]
        else:
            tempx1['ekl_' + ba] = 0
    
    for bs in bss:

        if np.any(temp1['Best.-Schicht.1'] == bs):
            t = temp1[temp1['Best.-Schicht.1'] == bs]
            tempx1[str(int(bs)) + '_alter'] = t['Schichtalter'].values[0]

            for ba in bas:

                if np.any(t['Baumart'] == ba):
                    tempx1[str(int(bs)) + '_' + ba] = t[t['Baumart'] == ba]['BaumartenBestockgrad'].values[0]
                else:
                    tempx1[str(int(bs)) + '_' + ba] = 0    
        else:
            tempx1[str(int(bs)) + '_alter'] = 0

            for ba in bas:
                tempx1[str(int(bs)) + '_' + ba] = 0

    if np.any(temp1[temp1['Nutzungsnummer'] != 0]):
        
        temp3 = temp1[temp1['Nutzungsnummer'] != 0]
        temp3
        
        tempx1['Maßnahmenart'] = temp3['Maßnahmenart'].values[0]
        tempx1['Nutzdringlichkeit'] = temp3['Nutzdringlichkeit'].values[0]
        
    #allx.append(tempx1)
    allx = pd.concat([allx, tempx1], sort=False)
    l = l + 1

# drop 1st row
#allx.drop(0, axis=0, inplace=True)
print('end')

end
CPU times: user 2min 9s, sys: 192 ms, total: 2min 9s
Wall time: 2min 10s

In [17]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,3_QR,3_RO,3_HP,3_WP,3_SA,3_SP,3_WO,3_EL,3_AG,3_FA
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5009,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5014,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5021,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10695,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
temp1

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
10695,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,Achtung FE: Neuer Waldort!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10696,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10697,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [19]:
home_path

'/home/philipp'

In [21]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ba', '171_'+str(fr)+'_ba.csv')
allx.to_csv(data_path, index=False)

In [23]:
for ba in bas:
    allx[ba] = allx['1_'+ba] + allx['2_'+ba] + allx['3_'+ba]# + allx['4_'+ba]

In [24]:
allx['sum'] = allx[bas].sum(axis=1)

In [25]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,RO,HP,WP,SA,SP,WO,EL,AG,FA,sum
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.8
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,1.0
9,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,1.0
14,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.54,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.9
5009,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,1.0
5014,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.21,0.28,0.0,0.07,0.0,0.0,0.0,0.0,0.7
5021,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,1.4
10695,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.0,1.0

In [26]:
allx = allx[1:]

In [27]:
wos[0]

'021A1'

In [28]:
for ba in bas:
    allx[ba] = allx[ba]/allx['sum']

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,RO,HP,WP,SA,SP,WO,EL,AG,FA,sum
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7
19,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
5009,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5014,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.3,0.4,0.0,0.1,0.0,0.0,0.0,0.0,0.7
5021,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.4
10695,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [30]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ba', '171_'+str(fr)+'_ba.csv')
allx.to_csv(data_path, index=False)

In [31]:
allx.set_index('Waldort',drop=False, inplace=True)

In [32]:
for wo in wos:
    if allx.loc[wo, 'BU'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'BU'
    #elif allx.loc[wo, 'DG'] >= 0.8:
    #    allx.loc[wo, 'wtyp'] = 'DG'
    elif (allx.loc[wo, 'EI'] >= 0.8): # + allx.loc[wo, 'RE'] 
        allx.loc[wo, 'wtyp'] = 'EI'
    elif allx.loc[wo, 'KI'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'WK'
    elif allx.loc[wo, 'SK'] >= 0.4:
        allx.loc[wo, 'wtyp'] = 'SK'
    elif (allx.loc[wo, 'FI'] >= 0.8) & (allx.loc[wo, 'LA'] == 0):
        allx.loc[wo, 'wtyp'] = 'FI'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'LA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'LA'] >= 10):
        allx.loc['wtyp'] = 'FILA'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'TA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'TA'] >= 10):
        allx.loc[wo, 'wtyp'] = 'FITA'
    elif allx.loc[wo, 'AH'] + allx.loc[wo, 'ES'] >= 0.8: #allx.loc[wo, 'ER'] + 
        allx.loc[wo, 'wtyp'] = 'AU'
    else:
        allx.loc[wo, 'wtyp'] = 'LNK'

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [33]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,HP,WP,SA,SP,WO,EL,AG,FA,sum,wtyp
Waldort,,,,,,,,,,,,,,,,,,,,,
021A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8,LNK
019C1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK
018E1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU
018B1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7,FI
018A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,FI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
079G2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNK
079G3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK
079H0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.3,0.4,0.0,0.1,0.0,0.0,0.0,0.0,0.7,LNK
032C2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.4,LNK
071X0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK

In [34]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'ekl', 'ba', '171_'+str(fr)+'_ba.csv')
allx.to_csv(data_path, index=False)

In [35]:
allx['SK_%'] = allx['SK']/allx['sum']

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
# umtriebszeit

In [37]:
for wo in wos:
    if (allx.loc[wo, 'Bewirtschaftungsform'] == 'S') & (allx.loc[wo, 'Ertragssituation'] == 'A'):
        allx.loc[wo, 'uz'] = 200
    elif (allx.loc[wo, 'Bewirtschaftungsform'] == 'S') & (allx.loc[wo, 'Ertragssituation'] == 'I'):
        allx.loc[wo, 'uz'] = 160
    elif (allx.loc[wo, 'Bewirtschaftungsform'] == 'W') & (allx.loc[wo, 'Ertragssituation'] == 'A'):
        allx.loc[wo, 'uz'] = 160  
    elif allx.loc[wo, 'SK_%'] >= 0.38:
        allx.loc[wo, 'uz'] = 160
    elif allx.loc[wo, 'ekl_BU'] >= 7:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_BU'] > 0:
        allx.loc[wo, 'uz'] = 140
    #elif allx.loc[wo, 'ekl_DG'] >= 9:
    #    allx.loc[wo, 'uz'] = 100
    #elif allx.loc[wo, 'ekl_DG'] > 0:
    #    allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] >= 8:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] > 0:
        allx.loc[wo, 'uz'] = 140
    elif allx.loc[wo, 'ekl_FI'] >= 8:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_FI'] > 0:
        allx.loc[wo, 'uz'] = 140
    else:
        allx.loc[wo, 'uz'] = 140

In [41]:
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp', '171_'+str(fr)+'_wtyp.csv')
allx.to_csv(data_path, index=False)

In [42]:
## create structure for SAP

In [43]:
# filter data
wo_data = wtyp_data[wtyp_data['Best.-Schicht']==0]

In [44]:
# check if filtered data is valid
wo_data['Fläche in HA']

0        2.84
4        0.89
9        0.99
14       0.59
19       0.29
         ...
10691    0.15
10692    0.39
10693    0.56
10694    5.08
10695    0.03
Name: Fläche in HA, Length: 1087, dtype: float64

In [45]:
# sort in right order
wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True], inplace=True)

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
wo_data['Waldort']

3623     001A1
2025     001A2
1471     001A3
1475     001A4
1479     001A5
         ...
10690    07942
10691    07951
10692    07961
10693    07962
10694    07963
Name: Waldort, Length: 1087, dtype: object

In [47]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,SA,SP,WO,EL,AG,FA,sum,wtyp,SK_%,uz
Waldort,,,,,,,,,,,,,,,,,,,,,
021A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.8,LNK,0.0,120.0
019C1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK,0.0,120.0
018E1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU,0.0,120.0
018B1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.7,FI,0.0,120.0
018A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.9,FI,0.0,140.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
079G2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNK,0.0,140.0
079G3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK,0.0,140.0
079H0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.1,0.0,0.0,0.0,0.0,0.7,LNK,0.0,160.0
032C2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.4,LNK,0.0,120.0
071X0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNK,0.0,140.0

In [48]:
temp = allx[['Waldort', 'wtyp', 'uz']].copy()
temp.reset_index(drop=True, inplace=True)

In [49]:
# merge data
data = pd.merge(wo_data[['Waldort']], temp, how='left', on='Waldort',
         sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [50]:
data.iloc[:20]

   Waldort wtyp     uz
0    001A1   BU  160.0
1    001A2  LNK  120.0
2    001A3   BU  140.0
3    001A4   FI  120.0
4    001A5  LNK  140.0
5    001A6   WK  140.0
6    001B1  LNK  140.0
7    001B2  LNK  120.0
8    001B3  LNK  120.0
9    001B4  LNK  120.0
10   001C1   BU  120.0
11   001C2  LNK  120.0
12   001C3  LNK  120.0
13   001C4  LNK  120.0
14   001D0  LNK  160.0
15   00131  NaN    NaN
16   00132  NaN    NaN
17   00141  NaN    NaN
18   00142  NaN    NaN
19   00143  NaN    NaN

In [51]:
# write data to file
data_path = os.path.join(home_path, 'Data', 'obf_autax', 'wtyp', '171_'+str(fr)+'_wtyp_uz.csv')
data.to_csv(data_path, index=False)

In [42]:
wos.shape

(827,)

In [43]:
for wo in wos:
    allx.loc[wo, 'nr_rows'] =len(wtyp_data[(wtyp_data['Waldort'] == wo) & (wtyp_data['Best.-Schicht.1'] != 0)])

In [44]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,GE,AS,BI,NU,EI,sum,wtyp,SK_%,uz,nr_rows
Waldort,,,,,,,,,,,,,,,,,,,,,
207A3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.9,LNF,0.000000,140.0,3.0
207A2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.2,BU,0.000000,140.0,1.0
207A4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.0,BU,0.000000,140.0,3.0
204H0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.1,LNF,0.181818,140.0,4.0
203C0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.9,LNF,0.000000,140.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.0,LNF,0.090000,140.0,6.0
205B1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.9,LNF,0.518519,160.0,8.0
205B2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.0,LNF,0.100000,140.0,3.0
206A1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,1.1,LNF,0.000000,120.0,5.0
205A3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,0.0,0.0,0.0,0.0,0.0,0.2,LNF,0.000000,140.0,3.0

In [45]:
wtyp_data['Waldort']

0        207A3
1        207A3
2        207A3
3        207A3
4        207A3
         ...
10953    29541
10954    29651
10955    29631
10956    29641
10957    29632
Name: Waldort, Length: 5746, dtype: object

In [46]:
allx = allx[['uz', 'wtyp', 'nr_rows']]
allx = allx.reset_index()

In [47]:
wo_data = wtyp_data[wtyp_data['Best.-Schicht'] == 0]

In [48]:
# merge

wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

allx = allx[['Waldort', 'uz', 'wtyp', 'nr_rows']]

merge_data = pd.merge(wo_data, allx, how='left', on='Waldort')

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
merge_data.to_csv(data_path + "/test171_12_v6.csv", index=False)

In [ ]:
# finished

In [59]:
merge_data

     Waldort WE-Typ     uz wtyp
0      201A0     WO  140.0  LNF
1      201B1     WO  140.0  LNF
2      201B2     WO  140.0  LNF
3      201B3     WO  140.0  LNF
4      201B4     WO  140.0  LNF
...      ...    ...    ...  ...
1019   307O3     WO  140.0   WK
1020   307O4     WO  140.0   SK
1021   307P1     WO  140.0  LNF
1022   307P2     WO  140.0  LNF
1023   30751     NG    NaN  NaN

[1024 rows x 4 columns]

In [58]:
allx

      Waldort     uz wtyp
0       207A3  140.0  LNF
1       207A2  140.0   BU
2       207A4  140.0   BU
3       204H0  140.0  LNF
4       203C0  140.0  LNF
...       ...    ...  ...
205A1     NaN    NaN  NaN
205B1     NaN    NaN  NaN
205B2     NaN    NaN  NaN
206A1     NaN    NaN  NaN
205A3     NaN    NaN  NaN

[1654 rows x 3 columns]

In [64]:
wtyp_data[wtyp_data['Best.-Schicht.1'] != 0]

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10754,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10755,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10771,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10772,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10773,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [46]:
# number of rows in WO

In [47]:
wtyp_data.head(3)

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,"BE an Straße teilweise 5 J jünger, einige Zw...","einige Lücken, einige LA, BU fast ausschließl...",NaN,NaN,NaN,NaN,NaN,NaN,1FI 6BU 2AH 1TA,0.0
1,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1310,171,220442,FE 2020,1,01.01.2021,31.12.2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [65]:
%time
len(wtyp_data[(wtyp_data['Waldort'] == '207A3') & (wtyp_data['Best.-Schicht.1'] != 0)])

CPU times: user 8 µs, sys: 0 ns, total: 8 µs
Wall time: 15 µs

3

In [49]:
%time
wtyp_data[(wtyp_data['Waldort'] == '659B1') & (wtyp_data['Best.-Schicht.1'] != 0)].shape

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs

(0, 152)

In [66]:
for wo in wos:
    merge_data.loc[wo, 'nr_rows'] =len(wtyp_data[(wtyp_data['Waldort'] == wo) & (wtyp_data['Best.-Schicht.1'] != 0)])

In [51]:
allx.to_csv(data_path + "/test171_01_v7.csv", index=False)