In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/wtyp')-1]
# set bz_path
raw_path = os.path.join(home_path, 'data', 'obf', 'merge', 'raw', 'TO_1356_01_20200121.XLS')

print(home_path)
print(raw_path)

/home/philipp
/home/philipp/data/obf/merge/raw/TO_1356_01_20200121.XLS

In [3]:
wtyp_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/home/philipp/conda/envs/ml/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
wtyp_data.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,"BE Örtl lückig; ein HB, AH; BU oft protzig; u...",rast und leicht verkrautet,MA BZ: 6LA 4BU,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,ST Im N flacher,"BE Einz KB, KI, FI, LA; schlechte Stammformen...",MA BZ: 5BU 3ER 2ES,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
wtyp = wtyp_data.loc[:,['Waldort', 'Abteilung','Unterabteil.', 'Teilfl.','WE-Typ', 'Umtriebszeit',
                        'Ertragssituation', 'Bewirtschaftungsform','Best.-Schicht', 'Schichtanteil', 
                        'Schichtalter', 'S-Best.grad', 'Baumart', 'Baumartenanteil', 'BaumartenBestockgrad']]

In [6]:
wtyp = wtyp_data.copy()

In [7]:
wtyp_f = wtyp[wtyp['WE-Typ'] == 'WO']

In [8]:
wos = wtyp_f['Waldort'].unique()

In [9]:
wos[0]

'520G0'

In [10]:
wtyp_f[wtyp_f['Waldort'] == wos[0]]

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,"BE Örtl lückig; ein HB, AH; BU oft protzig; u...",rast und leicht verkrautet,MA BZ: 6LA 4BU,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
# get unique ba
bas = wtyp_f['Baumart'].unique()
bas = bas[1:]
bas

array(['BU', 'LA', 'ER', 'ES', 'HB', 'EI', 'AH', 'RE', 'KI', 'SK', 'FI',
       'BI', 'EL', 'KB', 'DG', 'EZ', 'BL', 'LI', 'WD', 'RO', 'AS', 'EK',
       'TA', 'SL', 'TH', 'PO', 'SP', 'AN', 'EE', 'FA', 'SG'], dtype=object)

In [12]:
# get unique bs
bss = wtyp_f['Best.-Schicht'].unique()
bss = bss[1:]
bss

array([1, 2, 3])

In [13]:
len(wtyp_f)

4887

In [14]:
%%time
### this one is the last version ###

allx = wtyp_f[wtyp_f['Waldort'] == wos[1]].iloc[:1]
l = 0

for wo in wos:
    
    if (l == len(wtyp_f)/10) | (l == len(wtyp_f)/20) | (l == len(wtyp_f)/30) | (l == len(wtyp_f)/40) | (l == len(wtyp_f)/50) | (l == len(wtyp_f)/60) | (l == len(wtyp_f)/70) | (l == len(wtyp_f)/80) | (l == len(wtyp_f)/90) | (l == 10000):
        print(l/100)
    
    temp1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = wtyp_f[wtyp_f['Waldort'] == wo]
    tempx1 = tempx1[tempx1['Best.-Schicht'] == 0]
    
    for ba in bas:
        if np.any(temp1['Baumart'] == ba):
            tempx1['ekl_' + ba] = temp1[temp1['Baumart'] == ba]['Ertragsklasse'].values[0]
        else:
            tempx1['ekl_' + ba] = 0
    
    for bs in bss:

        if np.any(temp1['Best.-Schicht.1'] == bs):
            t = temp1[temp1['Best.-Schicht.1'] == bs]
            tempx1[str(int(bs)) + '_alter'] = t['Schichtalter'].values[0]

            for ba in bas:

                if np.any(t['Baumart'] == ba):
                    tempx1[str(int(bs)) + '_' + ba] = t[t['Baumart'] == ba]['BaumartenBestockgrad'].values[0]
                else:
                    tempx1[str(int(bs)) + '_' + ba] = 0    
        else:
            tempx1[str(int(bs)) + '_alter'] = 0

            for ba in bas:
                tempx1[str(int(bs)) + '_' + ba] = 0

    if np.any(temp1[temp1['Nutzungsnummer'] != 0]):
        
        temp3 = temp1[temp1['Nutzungsnummer'] != 0]
        temp3
        
        tempx1['Maßnahmenart'] = temp3['Maßnahmenart'].values[0]
        tempx1['Nutzdringlichkeit'] = temp3['Nutzdringlichkeit'].values[0]
        
    #allx.append(tempx1)
    allx = pd.concat([allx, tempx1], sort=False)
    l = l + 1

# drop 1st row
#allx.drop(0, axis=0, inplace=True)
print('end')

end
CPU times: user 1min 18s, sys: 70.3 ms, total: 1min 18s
Wall time: 1min 17s

In [15]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,3_EK,3_TA,3_SL,3_TH,3_PO,3_SP,3_AN,3_EE,3_FA,3_SG
4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4866,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4869,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4884,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5010,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
temp1

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
5010,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,BE Einz LA; FI im W an H0; unglalt (-5 J); vl...,MA BZ: 9BU 1FI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5011,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5012,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5013,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [17]:
data_path = os.path.join(os.getcwd())
allx.to_csv(data_path + "/test171_01.csv", index=False)

In [18]:
for ba in bas:
    allx[ba] = allx['1_'+ba] + allx['2_'+ba] + allx['3_'+ba]

In [19]:
allx['sum'] = allx[bas].sum(axis=1)

In [20]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,TA,SL,TH,PO,SP,AN,EE,FA,SG,sum
4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
10,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.1
16,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4866,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
4869,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4884,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
4999,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5010,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9

In [21]:
allx = allx[1:]

In [22]:
wos[0]

'520G0'

In [23]:
for ba in bas:
    allx[ba] = allx[ba]/allx['sum']

/home/philipp/conda/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,TA,SL,TH,PO,SP,AN,EE,FA,SG,sum
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
10,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.1
16,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4866,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
4869,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4884,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9
4999,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5010,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9

In [25]:
data_path = os.path.join(os.getcwd())
allx.to_csv(data_path + "/test171_01_v3.csv", index=False)

In [26]:
allx.set_index('Waldort',drop=False, inplace=True)

In [27]:
for wo in wos:
    if allx.loc[wo, 'BU'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'BU'
    elif allx.loc[wo, 'DG'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'DG'
    elif (allx.loc[wo, 'EI'] + allx.loc[wo, 'RE'] >= 0.8):
        allx.loc[wo, 'wtyp'] = 'EI'
    elif allx.loc[wo, 'KI'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'KI'
    elif allx.loc[wo, 'SK'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'SK'
    elif (allx.loc[wo, 'FI'] >= 0.8) & (allx.loc[wo, 'LA'] == 0):
        allx.loc[wo, 'wtyp'] = 'FI'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'LA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'LA'] >= 10):
        allx.loc['wtyp'] = 'FILA'
    elif (allx.loc[wo, 'FI'] + allx.loc[wo, 'TA'] >= 0.8) & (allx.loc[wo, 'FI'] >= 10) & (allx.loc[wo, 'TA'] >= 10):
        allx.loc[wo, 'wtyp'] = 'FITA'
    elif allx.loc[wo, 'ER'] + allx.loc[wo, 'AH'] + allx.loc[wo, 'ES'] >= 0.8:
        allx.loc[wo, 'wtyp'] = 'AU'
    else:
        allx.loc[wo, 'wtyp'] = 'LNF'

/home/philipp/conda/envs/ml/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/philipp/conda/envs/ml/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [28]:
allx

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,SL,TH,PO,SP,AN,EE,FA,SG,sum,wtyp
Waldort,,,,,,,,,,,,,,,,,,,,,
520G0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNF
715G1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8,LNF
599C0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.1,LNF
718D2,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNF
718D1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727A1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,BU
740A4,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,BU
650C0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,LNF
740B2,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,LNF
740B1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,BU

In [29]:
data_path = os.path.join(os.getcwd())
allx.to_csv(data_path + "/test171_01_v4.csv", index=False)

In [30]:
# umtriebszeit

In [31]:
for wo in wos:
    if allx.loc[wo, 'ekl_BU'] >= 7:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_BU'] > 0:
        allx.loc[wo, 'uz'] = 140
    elif allx.loc[wo, 'ekl_DG'] >= 9:
        allx.loc[wo, 'uz'] = 100
    elif allx.loc[wo, 'ekl_DG'] > 0:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] >= 8:
        allx.loc[wo, 'uz'] = 120
    elif allx.loc[wo, 'ekl_LA'] > 0:
        allx.loc[wo, 'uz'] = 140
    elif allx.loc[wo, 'ekl_FI'] >= 9:
        allx.loc[wo, 'uz'] = 100
    elif allx.loc[wo, 'ekl_FI'] > 0:
        allx.loc[wo, 'uz'] = 120
    else:
        allx.loc[wo, 'uz'] = 120

In [32]:
data_path = os.path.join(os.getcwd())
allx.to_csv(data_path + "/test171_01_v5.csv", index=False)

In [33]:
# number of rows in WO

In [34]:
wtyp_data.head(3)

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,"BE Örtl lückig; ein HB, AH; BU oft protzig; u...",rast und leicht verkrautet,MA BZ: 6LA 4BU,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1356,171,220442,FE 2019,1,01.01.2020,31.12.2029,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [35]:
%time
len(wtyp_data[(wtyp_data['Waldort'] == '659B1') & (wtyp_data['Best.-Schicht.1'] != 0)])

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.58 µs

4

In [36]:
%time
wtyp_data[(wtyp_data['Waldort'] == '659B1') & (wtyp_data['Best.-Schicht.1'] != 0)].shape

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.81 µs

(4, 152)

In [37]:
for wo in wos:
    allx.loc[wo, 'nr_rows'] =len(wtyp_data[(wtyp_data['Waldort'] == wo) & (wtyp_data['Best.-Schicht.1'] != 0)])

In [38]:
data_path = os.path.join(os.getcwd())
allx.to_csv(data_path + "/test171_01_v6.csv", index=False)