In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'data', 'obf', 'merge', 'bz', 'TO_1356_01_20200113_bz.csv')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/data/obf/merge/bz/TO_1356_01_20200113_bz.csv

In [3]:
bz_data = pd.read_csv(bz_path, sep=',')

In [4]:
bz_data.head()

,Forstbetrieb,Teiloperats-ID,Forstrevier,Abteilung,Unterabteil.,Teilfl.,Bearbeitungsblock,WE-Typ,Betriebsklasse,Umtriebszeit,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,171,1356,1,506,3,1,1,NG,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,171,1356,1,506,5,1,1,NG,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,171,1356,1,506,9,1,1,NG,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,171,1356,1,506,9,2,1,NG,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,171,1356,1,506,A,0,1,WO,9010.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [6]:
bz_data = bz_data[['WO', 'BZ1', 'BZ2', 'BZ3', 'BZ4']]

In [7]:
bz_data.iloc[0,:]

WO     506A0
BZ1     5 BU
BZ2     3 LA
BZ3     2 EI
BZ4      NaN
Name: 4, dtype: object

In [8]:
bz = bz_data.copy()

In [9]:
bz = bz.fillna(0)

### create empty dataframe

In [10]:
index = bz['WO'].unique()

In [11]:
columns = ['FI', 'TA', 'LA', 'KI', 'DG', 'TH', 'BU', 'EI', 'HB', 'AH', 'ES', 'ER', 'RE', 'SP', 'EL', 'SN', 'SL']

In [12]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0) # with 0s rather than NaNs

In [13]:
df

       FI  TA  LA  KI  DG  TH  BU  EI  HB  AH  ES  ER  RE  SP  EL  SN  SL
506A0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
506B1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
506B2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
506C1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
506C2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
740D3   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
740E0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
740F0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
740G0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
740H0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[900 rows x 17 columns]

### change structure

In [14]:
for i in range(bz.shape[0]):
    row = bz.iloc[i,:]
    wo = row['WO']
    for j in range(1, bz.shape[1]):
        if row.iloc[j] != 0:
            bz_x = re.findall(r"[\w']+", row.iloc[j])
            df.loc[wo,bz_x[1]] = bz_x[0]

In [15]:
df['Waldort'] = df.index

In [16]:
df

       FI  TA LA KI DG TH BU EI HB AH  ES ER RE SP EL  SN SL Waldort
506A0   0   0  3  0  0  0  5  2  0  0   0  0  0  0  0   0  0   506A0
506B1   0   0  0  0  0  0  3  7  0  0   0  0  0  0  0   0  0   506B1
506B2   0   0  0  0  0  0  3  7  0  0   0  0  0  0  0   0  0   506B2
506C1   0   0  0  0  0  0  9  0  0  0   0  0  0  0  0   0  1   506C1
506C2   0   0  2  0  0  0  8  0  0  0   0  0  0  0  0   0  0   506C2
...    ..  .. .. .. .. .. .. .. .. ..  .. .. .. .. ..  .. ..     ...
740D3   0   0  0  0  0  0  3  7  0  0   0  0  0  0  0   0  0   740D3
740E0   0   0  0  0  0  0  0  0  0  0   0  5  0  0  0   0  5   740E0
740F0   0   0  3  0  0  0  7  0  0  0   0  0  0  0  0   0  0   740F0
740G0   0   0  0  0  0  0  0  9  1  0   0  0  0  0  0   0  0   740G0
740H0   0   0  0  0  0  0  3  7  0  0   0  0  0  0  0   0  0   740H0

[900 rows x 18 columns]

In [18]:
data_path = os.path.join(home_path, 'data', 'obf', 'merge', 'bz')
df.to_csv(data_path + "/bz_171_01.csv", index=False)