In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autax/bz')-1]
# set bz_path
bz_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'bz_171_11.xlsx')

print(home_path)
print(bz_path)

/home/philipp
/home/philipp/Data/obf_autman/sources/bz_171_11.xlsx

In [3]:
bz_data = pd.read_excel(bz_path)

In [4]:
bz_data.head()

,Forstbetrieb,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Ertragssituation,Bewirtschaftungsform,...,Standorteinheit,Vegetationstyp,Waldtyp,Bestockungsziel,WO,BZ1,BZ2,BZ3,BZ4,BZ5
0,171,11,172,A,1,WO,9030,120,I,W,...,28,WW,NaN,2ES 4BU 4AH,172A1,6 EI,2 BU,1 HB,1 LI,NaN
1,171,11,172,A,2,WO,9031,80,I,W,...,28,WW,NaN,3HB 5EI 2BU,172A2,5 EI,2 HB,2 LI,1 BU,NaN
2,171,11,172,A,3,WO,9030,120,I,W,...,28,WW,NaN,2HB 5EI 3AH,172A3,5 EI,1 HB,1 LI,2 BU,NaN
3,171,11,172,A,4,WO,9031,80,I,W,...,28,WW,NaN,2LI 7EI 1AH,172A4,6 EI,3 LI,1 HB,NaN,NaN
4,171,11,172,B,0,WO,9030,120,I,W,...,81,WW,NaN,1KB 3EI 6BU,172B0,4 EI,2 HB,2 LI,1 BU,1 KB

In [5]:
# filter just WO
bz_data = bz_data.loc[bz_data['WE-Typ']=='WO', :]

In [6]:
bz_data = bz_data[['WO', 'BZ1', 'BZ2', 'BZ3', 'BZ4', 'BZ5']]

In [7]:
bz_data.iloc[0,:]

WO     172A1
BZ1     6 EI
BZ2     2 BU
BZ3     1 HB
BZ4     1 LI
BZ5      NaN
Name: 0, dtype: object

In [8]:
bz = bz_data.copy()

In [9]:
bz = bz.fillna(0)

### create empty dataframe

In [10]:
index = bz['WO'].unique()

In [14]:
#columns = ['FI', 'TA', 'LA', 'KI', 'SK', 'DG', 'TH', 'BU', 'EI', 'HB', 'AH', 'ES', 'ER', 'RE', 'LI', 'SP', 'EL', 'KB', 'RE', 'SN', 'SL']

In [15]:
# define columns of all possible tree species (BA)
columns = ["FI", "TA", "LA", "KI", "SK", "ZI", "PM", "DG", "KW", "SF", "FO", "TH", "FB", "AC", "AG", "AZ", "EB", "FZ", "GK", "HT", "JL", "CJ", "KK", "KO", "AN", "AB", "CH", "PU", "SN", "BU", "EI", "HB", "AH", "SA", "FA", "EA", "ES", "UL", "QP", "QR", "EZ", "RE", "FE", "ER", "GE", "AV", "KB", "TK", "WO", "SG", "NU", "JN", "LI", "LS", "LW", "BI", "PO", "AS", "WP", "SP", "HP", "WD", "SW", "EK", "RK", "EE", "EL", "ME", "RO", "TB", "GB", "ST", "SL", "BL"]

In [16]:
df = pd.DataFrame(index=index, columns=columns)
df = df.fillna(0) # with 0s rather than NaNs

In [17]:
df

,FI,TA,LA,KI,SK,ZI,PM,DG,KW,SF,...,RK,EE,EL,ME,RO,TB,GB,ST,SL,BL
172A1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172A2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172A3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172A4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172B0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382D1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382D2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382D3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382E0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382F0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### change structure

In [18]:
for i in range(bz.shape[0]):
    row = bz.iloc[i,:]
    wo = row['WO']
    for j in range(1, bz.shape[1]):
        if row.iloc[j] != 0:
            bz_x = re.findall(r"[\w']+", row.iloc[j])
            df.loc[wo,bz_x[1]] = bz_x[0]

In [19]:
df['Waldort'] = df.index

In [20]:
df

,FI,TA,LA,KI,SK,ZI,PM,DG,KW,SF,...,EE,EL,ME,RO,TB,GB,ST,SL,BL,Waldort
172A1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,172A1
172A2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,172A2
172A3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,172A3
172A4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,172A4
172B0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,172B0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382D1,0,0,1,1,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,382D1
382D2,0,0,3,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,382D2
382D3,0,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,382D3
382E0,0,0,4,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,382E0
382F0,0,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,382F0

In [18]:
#data_path = os.path.join(home_path, 'data', 'obf', 'csv', 'bz')
#df.to_csv(data_path + "/bz_171_01.csv", index=False)

In [21]:
# set raw_path
raw_path = os.path.join(home_path, 'Data', 'obf_autman', 'sources', 'TO_1310_11_roh.XLS')
# read tsv
wo_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)
# filter relevant data
wo_data = wo_data[wo_data['Best.-Schicht'] == 0]

### pernitz
#wo_data = wo_data[wo_data['Abteilung'] > 200]

/home/philipp/miniconda3/envs/autax_rec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,102,103,108,112,113,114,124,126,144,145,146,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# merge

# sort data
wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
wo_data = wo_data[['Waldort', 'WE-Typ']]

merge_data = pd.merge(wo_data, df, how='left', on='Waldort')

In [24]:
merge_data

,Waldort,WE-Typ,FI,TA,LA,KI,SK,ZI,PM,DG,...,RK,EE,EL,ME,RO,TB,GB,ST,SL,BL
0,172A1,WO,0.0,0,0,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
1,172A2,WO,0.0,0,0,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
2,172A3,WO,0.0,0,0,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
3,172A4,WO,0.0,0,0,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
4,172B0,WO,0.0,0,0,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,382D3,WO,0.0,0,7,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
1557,382E0,WO,0.0,0,4,0,3,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
1558,382F0,WO,0.0,0,7,0,0,0.0,0.0,0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0,0.0
1559,38231,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1560,38251,NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#merge_data.iloc[:,2:].astype(int)

In [26]:
merge_data.fillna(0, inplace = True)
merge_data.iloc[:,2:] = merge_data.iloc[:,2:].astype(int)

In [28]:
# set bz_path
save_path = os.path.join(home_path, 'Data', 'obf_autman', 'csv', 'bz_autax_1310_171_11_20201105.csv')
merge_data.to_csv(save_path, index=False)